{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Email Sent</title>

<link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap/css/all.min.css' %}">

</head>
<body class="bg-light">

<div class="container">
    <div class="row justify-content-center align-items-center" style="min-height:100vh;">

        <div class="card shadow border-0" style="max-width:450px; width:100%;">
            <div class="card-body text-center p-5">

                <i class="fa fa-envelope fa-4x text-primary mb-4"></i>

                <h4>Email Enviado</h4>

                <p class="text-muted">
                    Ami haruka ona link reset password ba ita nia email.
                </p>

                <a href="{% url 'login' %}"
                   class="btn btn-primary">
                    Back Login
                </a>

            </div>
        </div>

    </div>
</div>

</body>
</html>