<nav id="sidebar" aria-label="Menu Sidebar">
  <div class="sb-body">

    <div class="sb-sec">Menu</div>
    {% if user.is_authenticated %}
        {% if user.groups.all.0.name == 'postu' %}
            {% include 'main/nav/sides/admin.html' %}
        {% elif user.groups.all.0.name == 'suku' %}
            {% include 'main/nav/sides/s_staff.html' %}
        {% elif user.groups.all.0.name == 'ald' %}
            {% include 'main/nav/sides/ald.html' %}
        {% elif user.groups.all.0.name == 'staff' %}
            {% include 'main/nav/sides/DG.html' %}
        {% else %}
        {% endif %}
    {% endif %}
    <hr>
    <div class="sb-sec">Conta-{{user.request.username|upper}}</div>
    <ul>
      <li><a href="#"><i class="fa-solid fa-circle-user"></i>Profile</a></li>
      <li><a href="#"><i class="fa-solid fa-sliders"></i>Conta</a></li>
      <li>
        <a href="#" style="color:rgba(255,120,120,.85);">
          <i class="fa-solid fa-right-from-bracket" style="color:rgba(255,90,90,.7);"></i>Logout
        </a>
      </li>
    </ul>

  </div>
</nav>

<!-- Overlay: mulai dari bawah navbar -->
<div id="overlay"></div>